/* General Styles */
body {
    background-color: black;
    color: #00ff00;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #00ff00;
    text-decoration: none;
}

.line {
    width: 80%;
    border-bottom: 1px solid #00ff00;
    margin: 20px 0;
}

/* Header Styles */
table h1 {
    color: #00FF00;
}

/* Footer Styles */
.footer {
    cursor: pointer;
    border: 1px solid #003300;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

.footer p {
    margin: 0;
    color: #00ff00;
    text-decoration: none;
}

/* Table Styles */
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 77%;
    margin: auto;
}

td {
    padding: 10px;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

th {
    background-color: #333333;
    cursor: pointer;
}

/* arp_table.html/arpTable Styles */
.known-option {
    cursor: pointer;
}

.known-yes,
.known-no {
    color: #66ff66; /* Lighter shade of green for default state */
    cursor: pointer;
}

.known-yes.selected {
    color: #ffcc00; /* Color for 'Yes' when selected */
}

.known-no.selected {
    color: red; /* Color for 'No' when selected */
}

.not-known {
    color: red; /* Color for entire row when 'No' is selected */
}

.table-container {
    width: 70%;
    margin: auto;
}

#arpTableHeader th, 
#arpTableBody td {
    text-align: left;
}

.scrollable-tbody {
    max-height: 410px;
    overflow-y: auto;
    border-collapse: collapse;
}

#arpTableBody {
    table-layout: fixed;
    border-collapse: collapse;
}

#arpTableBody td {
    padding: 8px;
    border-bottom: 1px solid #00ff00;
}

#arpTableBody tr:last-child td {
    border-bottom: none;
}

#arpTableBody tr:nth-child(even) {
    background-color: #1F1F1F;
}

#arpTableBody tr:nth-child(odd) {
    background-color: #000000;
}

#arpTableHeader th:nth-child(1), 
#arpTableBody td:nth-child(1) { 
    width: 20%; 
}

#arpTableHeader th:nth-child(2), 
#arpTableBody td:nth-child(2) { 
    width: 15%; 
}

#arpTableHeader th:nth-child(3), 
#arpTableBody td:nth-child(3) { 
    width: 20%; 
}

#arpTableHeader th:nth-child(4), 
#arpTableBody td:nth-child(4) { 
    width: 30%; 
}

#arpTableHeader th:nth-child(5), 
#arpTableBody td:nth-child(5) { 
    width: 15%; 
}

#arpwatchConfigForm {
    border: 2px solid #00ff00; /* Blue border */
    padding: 20px; /* Padding inside the border */
    border-radius: 10px; /* Rounded corners */
    margin: 20px; /* Margin outside the border */
}

/* net-alarm/templates/arp_arpwatch_log.html */
.log-container {
    height: 400px; /* Adjust the height as needed */
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}
.scrollable-tbody {
    max-height: 400px; /* Adjust this value based on your preference */
    overflow-y: auto;
    display: block;
}

#arpLogTable thead {
    display: table;
    width: 100%; /* This ensures the table header is full width */
    position: sticky;
    top: 0;
}

#arpLogTable tbody {
    display: block;
}
