body {
    background-color: black;
    color: #00ff00;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* For the header */
table h1 {
    color: #00FF00;
}

/* For the footer */
.footer {
    background-color: #003300;
}

a {
    color: #00ff00;
    text-decoration: none;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 77%;
    margin: auto;
}

td {
    padding: 10px;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

.line {
    width: 80%;
    border-bottom: 1px solid #00ff00;
    margin: 20px 0;
}

.footer {
    margin-top: 20px;
}

th {
    background-color: #333333;
    cursor: pointer;
}

/* arp_table.html/arpTable */
.table-container {
    width: 70%;
    margin: auto;
}
#arpTableHeader th, #arpTableBody td {
    text-align: left;
}



.scrollable-tbody {
    max-height: 620px; /* Adjust this value based on your preference */
    overflow-y: auto;
    border-collapse: collapse;
}

#arpTableBody {
    table-layout: fixed;
    border-collapse: collapse;
}

#arpTableBody td {
    padding: 8px;
    border-bottom: 1px solid #00ff00;
}

#arpTableBody tr:last-child td {
    border-bottom: none;
}

#arpTableBody tr:nth-child(even) {
    background-color: #1F1F1F;
}

#arpTableBody tr:nth-child(odd) {
    background-color: #000000;
}

#arpTableHeader th:nth-child(1), #arpTableBody td:nth-child(1) { 
    width: 20%; 
}

#arpTableHeader th:nth-child(2), #arpTableBody td:nth-child(2) { 
    width: 15%; 
}

#arpTableHeader th:nth-child(3), #arpTableBody td:nth-child(3) { 
    width: 20%; 
}

#arpTableHeader th:nth-child(4), #arpTableBody td:nth-child(4) { 
    width: 30%; 
}

#arpTableHeader th:nth-child(5), #arpTableBody td:nth-child(5) { 
    width: 15%; 
}




