<!DOCTYPE html>
<html lang="en">
<head>
    <title>net-alarm - ARPwatch Log</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>ARPwatch Log</h1></td>
        </tr>
    </table>
    <div class="line"></div>

    <div class="scrollable-tbody">
        <table id="arpLogTable" style="width: 90%; margin: auto;">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1>Arpwatch Log</h1>
        <div class="content">
            <div class="log-container">
                <pre>{{ log_content }}</pre>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer">
        <p><a href="{{ url_for('arp_page') }}">Go back</a></p>
    </div>
</body>
</html>
