<!DOCTYPE html>
<html>
<head>
    <title>net-alarm - arpwatch Import</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function handleFormSubmit(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            fetch('/arp_arpwatch_import', {
                method: 'POST',
                body: formData
            }).then(response => response.text())
              .then(result => {
                  alert(result);
                  window.location.href = '/arp_page';  // Redirect to ARP page using relative URL
              });
        }
    </script>
</head>
<body>
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>arpwatch Import</h1></td>
        </tr>
    </table>
    <div class="line"></div>

    <table>
        <tr>
            <td>
                <form action="/arp_arpwatch_import" method="POST" enctype="multipart/form-data" onsubmit="handleFormSubmit(event)">
                    <label for="file">Upload arpwatch FILE:</label>
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                </form>
            </td>
        </tr>
        <tr>
            <td><div class="line" style="width: 50%; height: 1px; background-color: black; margin: auto;"></div></td>
        </tr>
        <tr>
            <td>
                <form action="/arp_arpwatch_log_import" method="POST" enctype="multipart/form-data">
                    <label for="log_file">Upload arpwatch LOG:</label>
                    <input type="file" name="log_file">
                    <input type="submit" value="Upload">
                </form>               
            </td>
        </tr>
    </table>
    
    <div class="line"></div>
    <div class="footer">
        <p><a href="{{ url_for('arp_page') }}">Go back</a></p>
    </div>

</body>
</html>
