<!DOCTYPE html>
<html>
<head>
    <script>
        function runArpwatch() {
            fetch('/run_arpwatch', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'running') {
                    document.getElementById('arpwatch-status-image').src = '/static/images/icon_yes.png';
                } else {
                    document.getElementById('arpwatch-status-image').src = '/static/images/icon_no.png';
                }
            })
            .catch(error => {
                console.error('An error occurred:', error);
                document.getElementById('arpwatch-status-image').src = '/static/images/icon_no.png';
            });
        }
        function stopArpwatch() {
            fetch('/stop_arpwatch', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'stopped') {
                    document.getElementById('arpwatch-status-image').src = '/static/images/icon_no.png';
                } else {
                    console.error('An error occurred:', data.message);
                }
            })
            .catch(error => {
                console.error('An error occurred:', error);
                document.getElementById('arpwatch-status-image').src = '/static/images/icon_no.png';
            });
        }
        function saveConfigChange(paramName, paramValue) {
        fetch('/update_arpwatch_config', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `param_name=${paramName}&param_value=${paramValue}`
        })
        .then(response => response.json())
        .then(data => {
            if (data.status !== 'success') {
                console.error('Failed to save config change');
            }
        })
        .catch(error => {
            console.error('An error occurred:', error);
        });
    }
    </script>
    <title>net-alarm - arpwatch Config</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>arpwatch Config</h1></td>
        </tr>
    </table>
    <div class="line"></div>
    <div class="content">
        
        <form id="arpwatchConfigForm" action="/arp_arpwatch_config" method="post">
            <h2>actual arpwatch configuration</h2>
            <!-- Debug mode option -->
            <label for="debug">Debug mode:</label>
            <input type="checkbox" id="debug" name="debug" {% if config['Debug']['mode'] and config['Debug']['mode'].lower() == 'on' %}checked{% endif %} onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Data File option -->
            <label for="file">Data File:</label>
            <input type="text" id="file" name="file" placeholder="e.g. arp.dat" value="{{ config['File']['datafile'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Interface option -->
            <label for="Interface">Interface:</label>
            <input type="text" id="Interface" name="Interface" placeholder="e.g. eth0" value="{{ config['Interface']['name'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Additional local networks option -->
            <label for="network">Additional Local Networks:</label>
            <input type="text" id="network" name="network" placeholder="e.g. 192.168.1.0/24" value="{{ config['Network']['additionallocalnetworks'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Disable bogon reporting option -->
            <label for="disableBogon">Disable Bogon Reporting:</label>
            <input type="checkbox" id="disableBogon" name="disableBogon" {% if config['Bogon']['disablereporting'] == 'True' %}checked{% endif %}onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Read packets from file option -->
            <label for="readFile">Read packets from file:</label>
            <input type="text" id="readFile" name="readFile" placeholder="e.g. /path/to/file" value="{{ config['Packet']['readfromfile'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Drop root privileges option -->
            <label for="dropPrivileges">Drop Root and Change to User:</label>
            <input type="text" id="dropPrivileges" name="dropPrivileges" placeholder="e.g. webappuser" value="{{ config['Privileges']['droprootandchangetouser'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Email recipient option -->
            <label for="emailRecipient">Email Recipient:</label>
            <input type="text" id="emailRecipient" name="emailRecipient" placeholder="e.g. admin@example.com" value="{{ config['Email']['recipient'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br>
            <!-- Email sender option -->
            <label for="emailSender">Email Sender:</label>
            <input type="text" id="emailSender" name="emailSender" placeholder="e.g. arpwatch@example.com" value="{{ config['Email']['sender'] }}"onblur="saveConfigChange('file', this.value)">
            <br><br><br>
            <div style="text-align: center;"></div>
            <div style="text-align: center;">
                <input type="submit" value="Save Configuration">
            </div>
        </form>
        <br>
        <table style="width: 77%; margin-left: auto; margin-right: auto; border: 2px solid green; border-radius: 5px;">
            <tr>
                <td style="text-align: center;">
                    {{ arpwatch_command }}
                </td>
            </tr>
        </table>
        <table style="width: 77%; margin-top: 20px;">
            <tr>
                <td>Arpwatch running:</td>
                <td><img id="arpwatch-status-image" src="{{ '/static/images/icon_yes.png' if arpwatch_running else '/static/images/icon_no.png' }}" alt="Arpwatch Status"></td>
            </tr>
            <tr>
                <td><button id="runArpwatch" onclick="runArpwatch()">RUN local arpwatch</button></td>
                <td><button id="stopArpwatch" onclick="stopArpwatch()">STOP local arpwatch</button></td>
            </tr>
        </table>
        
    </div>
    <div class="line"></div>
    <div class="footer">
        <p><a href="{{ url_for('arp_page') }}">Go back</a></p>
    </div>
</body>
</html>
