<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARP Table</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>MAC/ARP Overview</h1></td>
        </tr>
    </table>
    <table id="arpTableHeader" style="width: 70%; margin: auto;">
        <thead>
            <tr>
                <th onclick="sortTable(0)">ARP address</th>
                <th onclick="sortTable(1)">IP address</th>
                <th onclick="sortTable(2)">Last seen</th>
                <th onclick="sortTable(3)">Hostname</th>
                <th>Known</th>
            </tr>
        </thead>
    </table>
    <div class="scrollable-tbody">
        <table id="arpTableBody" style="width: 70%; margin: auto;">
            <tbody>
                {% for row in arp_data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td contenteditable="true" onblur="updateHostname(this, '{{ row[0] }}', '{{ row[1] }}')">{{ row[3] }}</td>
                    <td>
                        <span class="known-option {{ 'known-yes' if row[5] == 'Yes' else '' }}" onclick="updateKnown(this, '{{ row[0] }}', '{{ row[1] }}', 'Yes')">Yes</span> /
                        <span class="known-option {{ 'known-no' if row[5] == 'No' else '' }}" onclick="updateKnown(this, '{{ row[0] }}', '{{ row[1] }}', 'No')">No</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="line"></div>
    <div class="footer">
        <p><a href="javascript:history.back()">Go back</a></p>
    </div>
    <script>
        // Sorting function
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("arpTableBody");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 0; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        // Update hostname function
        function updateHostname(cell, macAddress, ipAddress) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_hostname", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({
                macAddress: macAddress,
                ipAddress: ipAddress,
                hostname: cell.innerText
            }));
        }

  // Update Known function
  function updateKnown(cell, macAddress, ipAddress, value) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update_known", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
            macAddress: macAddress,
            ipAddress: ipAddress,
            known: value
        }));

        // Update the visual state of the "Yes" and "No" options
        var parentCell = cell.parentNode;
        var yesOption = parentCell.querySelector(".known-option.known-yes");
        var noOption = parentCell.querySelector(".known-option.known-no");
        if (value === "Yes") {
            yesOption.classList.add("selected");
            noOption.classList.remove("selected");
        } else {
            yesOption.classList.remove("selected");
            noOption.classList.add("selected");
        }
    }
</script>
</body>
</html>
