<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>arpwatch Log-Data</h1></td>
        </tr>
    </table>
  
 </head>
<body>
    <div class="container">
        <h1>Arpwatch Log</h1>
        <div class="content">
            <div class="log-container">
                <pre>{{ log_content }}</pre>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer">
        <p><a href="{{ url_for('arp_page') }}">Go back</a></p>
    </div>
</body>
</html>
