<!DOCTYPE html>
<html>
<head>
    <title>Welcome to net-alarm</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <table style="width: 77%; margin-top: 20px; margin-bottom: 20px;">
        <tr>
            <td class="right"><img src="/static/images/icon_placeholder.png" alt="Icon"></td>
            <td class="left"><h1>Welcome to net-alarm</h1></td>
        </tr>
    </table>
    <div class="line"></div>
    <table>
        <tr>
            <td class="right"><a href="{{ url_for('arp_page') }}" class="middle">arpwatch</a></td>
            <td class="left"><img src="{{ url_for('static', filename='images/icon_placeholder.png') }}" alt="Icon"></td>
        </tr>
        <tr>
            <td class="right"><a href="{{ url_for('tcpip_page') }}" class="middle">TCP/IP</a></td>
            <td class="left"><img src="{{ url_for('static', filename='images/icon_placeholder.png') }}" alt="Icon"></td>
        </tr>
        <tr>
            <td class="right"><a href="{{ url_for('host_page') }}" class="middle">HOST</a></td>
            <td class="left"><img src="{{ url_for('static', filename='images/icon_placeholder.png') }}" alt="Icon"></td>
        </tr>
        <tr>
            <td class="right"><a href="{{ url_for('lan_page') }}" class="middle">LAN</a></td>
            <td class="left"><img src="{{ url_for('static', filename='images/icon_placeholder.png') }}" alt="Icon"></td>
        </tr>
    </table>
    <div class="line"></div>
    <div class="footer">
        <p><a href="https://github.com/FischermanCH/net-alarm" target="_blank">Project home page -></a></p>
    </div>
</body>
</html>
